<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EVOLUMIND - The next step of yout e-commerce busines</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/logo-evolumind.png"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" onClick=' $( ".menu_abrir" ).slideToggle( "slow", function() {});
' >
          MENU
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about"><span class="active">PT</span>/EN</a>
            </li>

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about"><img class="bullet_menu" src="img/bullet-menu-evolumind.png"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" onClick=' $( ".menu_abrir" ).slideToggle( "slow", function() {});
' href="#">MENU</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <br style="clear:both;"/>
    <ul class="menu_abrir">
        <li>
            <a>Quem somos</a>
        </li>
        <li>
            <a>O que fazemos</a>
        </li>
        <li>
            <a>Como fazemos</a>
        </li>
        <li>
            <a>Fale conosco</a>
        </li>
    </ul>
    <img class="img-responsive img-header" src="img/pessoas-evolumind.png">




    <div class="container">
      <div class="row">
          <div class="col-md-6">
            <img class="img-responsive orelhao-evolumind" src="img/orelhao-evolumind.jpg">
          </div>
      </div>
    </div>

  <div class="container">
    <div class="row">
        <div class="col-md-3 chamada-banner">
            <br><br>
            <hr>
          <h2 class="section-heading ">EVOLUMIND</h2>

          <h3 class="linkedin-text">
             THE NEXT<br>
             STEP OF YOUR<br>
             E-COMMERCE<br>
             BUSINESS<br>
          </h3>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="col-md-3 linkedin-header">
            <br><br>
          <h2 class="section-heading text-center"><i class="fa fa-linkedin fa-3" aria-hidden="true"></i></h2>
          <br><br>
          <h3 class="linkedin-text text-center">
              follow us<br>
              on linkedin
          </h3>
        </div>
    </div>
  </div>

    <div class="container top_first">
        <div class="chamada-geral-bg"></div>
        <h2 class="section-heading chamada-geral text-center">Individualmente, já criamos soluções para grandes marcas e agora, juntos, queremos <strong>evoluir o seu negócio</strong></h2>
    </div>

    <br style="clear:both;">
    <br style="clear:both;">
    <br style="clear:both;">
    <br style="clear:both;">
    <br style="clear:both;">
    <br style="clear:both;">
    <br style="clear:both;">
    <br style="clear:both;">

    <div class="container">
      <div class="row">
          <div class="col-md-6">
            <img class="img-responsive sombra" src="img/img1-evolumind.png">
          </div>
          <div class="col-md-6 container-texto">
              <h3 class="chamada-geral">Quem<br/>Somos</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          </div>
      </div>
    </div>
<div class="box-1"></div>
    <br style="clear:both;">
    <br style="clear:both;">


    <div class="container">
      <div class="row">
          <div class="col-md-6">
            <img class="img-responsive sombra" src="img/img2-evolumind.jpg">
          </div>
          <div class="col-md-6 container-texto">
              <h3 class="chamada-geral">O que<br/>Fazemos</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              <p class="text-center"><img class="img-responsive" src="img/partnet-vte.png"></p>
          </div>
      </div>
    </div>
<div class="box-2"></div>
<div class="box-3"></div>
    <br style="clear:both;">
    <br style="clear:both;">


    <div class="container">
      <div class="row">
          <div class="col-md-6">
            <img class="img-responsive sombra" src="img/img3-evolumind.jpg">
          </div>
          <div class="col-md-6 container-texto">
              <h3 class="chamada-geral">Como<br/>Fazemos</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          </div>
      </div>
    </div>

    <br style="clear:both;">
    <br style="clear:both;">

    <div class="container container-texto ultimo_container">
      <div class="row">
          <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7311.035439016101!2d-46.67607772276948!3d-23.621623358710753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce509e3f6865bb%3A0x293b97981f447a63!2sCampo+Belo%2C+S%C3%A3o+Paulo+-+SP!5e0!3m2!1spt-BR!2sbr!4v1517267937608" style="width:100%; height:605px;" frameborder="0" class="sombra" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="col-md-6 contato">
              <h3 class="chamada-geral">Fale<br/>Conosco</h3>
              <p><strong>T.</strong> +55 11 2659.8315</p>
              <p><strong>E.</strong> comercial@evolumind.com</p>
              <br style="clear:both;">
              <strong>Mande sua mensagem</strong>
              <input type="text" class="form-control" placeholder="Nome">
              <input type="text" class="form-control" placeholder="E-Mail">
              <textbox class="form-control"></textbox>
              <input type="button" class="enviar_site" value="ENVIAR" />
          </div>
      </div>
      <br style="clear:both;">
      <br style="clear:both;">
      <br style="clear:both;">
      <br style="clear:both;">
    </div>
    <div class="box-4"> <i class="fa fa-facebook" aria-hidden="true"></i> <i class="fa fa-linkedin" aria-hidden="true"></i> </div>
<footer>
    <p class="text-center">
        <img src="img/logo-evolumind-pb.png" class="img-responsive" style="margin-top: 70px;width: 170px;">
    </p>
</footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

  </body>

</html>
