<div class="ui container fluid infoBar">
    <div class="ui container">
        <div class="ui middle aligned centered stackable grid  computer only">
            <div class="row doubling four column ">
                <div class="column">
                    <div class="icon_place">
                        <i class="shipping icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <p style="line-height: 40px;">Frete grátis para todo o brasil!</p>
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place">
                        <i class="credit card alternative icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <p>Parcele em até 12x sem juros suas compras no site.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place">
                        <i class="rocket icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <p>Recebe suas compras mais rápido em até 3 dias*.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
